*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-link{
    margin-left:150px;
}

body{
    background-color: black;
}
.section1 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider {
    width: 1200px;
    height: 1200px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 200px;
}

.slides {
    width:850px;
    height:800px;
    display:flex;
}

.slides input {
    display:none;

}

.slide img {
    width: 800px;
    height:500px;
}

/*
css para el slide navegacion
*/

.navegacion-manual {
    position: absolute;
    width:1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    }


.manual-btn:not(:last-child){
    margin-right:70px ;
}

.manual-btn:hover {
    background: #40D3DC;
}

.radio1:checked ~ .first {
    margin-left: 0;

}

.radio2:checked ~ .first {
    margin-left:-20%;
    
}

.radio3:checked ~ .first {
    margin-left: -40%;
    
}

.radio4:checked ~ .first {
    margin-left: -60%;
    
}


